<%= form_with(model: service, local: true) do |form| %>

  <table class="table">
    <td>
      <div class="text-white">
        <%= form.label :name %>
      </div>
      <div class="text-white">
        <%= form.label :path %>
      </div>
      <div class="text-white">
        <%= form.label :group %>
      </div>
      <div class="text-white">
        <%= form.label :start %>
      </div>
      <div class="text-white">
        <%= form.label :stop %>
      </div>
      <div class="text-white">
        <%= form.label :server_id %>
      </div>
      <div class="text-white">
        <%= form.label :status %>
      </div>
    </td>
    <td>
      <div class="text-white">
        <%= form.text_field :name %>
      </div>
      <div class="text-white">
        <%= form.text_field :path %>
      </div>
      <div>
        <%= form.collection_select :group_id, Group.all, :id, :name, prompt: true %>
      </div>
        <div class="text-white">
        <%= form.text_field :start %>
      </div>
      <div class="text-white">
        <%= form.text_field :stop %>
      </div>
      <div>
        <%= form.collection_select :server_id, Server.all, :id, :host_name, prompt: true %>
      </div>
      <div class="text-white">
        <%= form.number_field :status %>
      </div>
    </td>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
