<table class="table table-sm bg-light">
  <thead>
    <tr>
      <th>Сервер</th>
      <th>Команда</th>
      <th>Статус</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td>
          <div class="btn-group" role="group">
            <% btn_disabled = "" %>
            <% btn_disabled = " disabled" if service.start.empty? %>
            <%= link_to "Start", start_service_path(service), remote: true,
              class: "btn btn-dark btn-sm" + btn_disabled, style: "background-color: #8B008B;" %>
            <% btn_disabled = "" %>
            <% btn_disabled = " disabled" if service.stop.empty? %>
            <%= link_to "Stop", stop_service_path(service), remote: true,
              class: "btn btn-warning btn-sm text-white" + btn_disabled, style: "background-color: #FF8C00;" , data: { confirm: 'Are you really want stop service?' } %>
            <% btn_disabled = "" %>
            <% btn_disabled = " disabled" if service.restart.empty? %>
            <%= link_to "Restart", stop_service_path(service), remote: true,
              class: "btn btn-danger btn-sm" + btn_disabled, data: { confirm: 'Are you really want stop service?' } %>
          </div>
        </td>
        <td>
          <%= service.status %>
        </td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'Show', service, class: "btn btn-outline-warning btn-sm" %>
            <%= link_to 'Edit', edit_service_path(service), class: "btn btn-outline-warning btn-sm"%>
            <%= link_to 'Drop', service, method: :delete, class: "btn btn-outline-warning btn-sm", data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
