<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= @service.name %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body card-text">
      <p>
        <strong>Path:</strong>
        <%= @service.path %>
      </p>
      <p>
        <strong>Service sudoname:</strong>
        <%= @service.sudo_name %>
      </p>
      <p>
        <strong>Group:</strong>
        <%= @service.group.name %>
      </p>
      <p>
        <strong>Start:</strong>
        <%= @service.start %>
      </p>
      <p>
        <strong>Stop:</strong>
        <%= @service.stop %>
      </p>
      <p>
        <strong>Restart:</strong>
        <%= @service.restart %>
      </p>
      <p>
        <strong>Server:</strong>
        <%= @service.server.name %>
      </p>
      <p>
        <strong>Status:</strong>
        <%= @service.status %>
      </p>
      <p>
        <strong>State:</strong>
        <%= @service.state %>
      </p>
      <p>
        <strong>User:</strong>
        <%= @service&.user&.ldap_login %>
      </p>
      <%= link_to t('.edit'), edit_service_path(@service), class: "btn btn-light" %>
      <%= link_to t('.back'), services_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
