<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= @server.name %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body">
      <p class="card-text">
        <strong>Path:</strong>
        <%= @server.name %>
      </p>

      <p class="card-text">
        <strong>Group:</strong>
        <%= @server.ip %>
      </p>
      <%= link_to 'Edit', edit_server_path(@server), class: "btn btn-light" %>

      <%= link_to t('.back'), servers_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
