<div class="modal fade" id=<%= "modalBindServices#{scenario.id.to_s}" %> tabindex="-1" role="dialog" aria-labelledby="modalBindServicesTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content card text-white mb-3 nbc">
      <div class="card-body">
        <% columns = Service.service_columns(services.size) %>
        <%= form_with(model: scenario, local: true) do |scenario_form| %>
          <%= scenario_form.label :name, t('.new_scenario'), class: "text-white" %>
          <%= scenario_form.text_field :name, style: "width: 50%"  %>
          <table class="table table-sm bg-light">
            <tbody class="nbc-font">
              <%= scenario_form.fields_for :scenario_services do |scenario_service_field| %>
                <% index =  scenario_service_field.index %>
                <% service = services.find {|s| s.id == scenario_service_field.object.service_id } %>
                  <% if index % columns == 0 %>
                  <tr>
                <% end %>
                <td>
                   <%= scenario_service_field.hidden_field(:service_id, :value => service.id) %>
                   <%= label(:service_name, service.name, class: "nbc-font" ) %>
                </td>
                <td>
                   <%= scenario_service_field.number_field(:order, in: 1..99, style: "max-width: 40px" ) %>
                </td>
                <% if (index + 1) % columns == 0 %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <div class="actions" id="center" >
            <%= scenario_form.submit %>
            <button type="button" data-dismiss="modal"><%= t('.close') %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
