<%= form_with(model: @scenario, local: true) do |f| %>
  <%= f.label :name, t('.new_scenario'), class: "text-white" %>
  <%= f.text_field :name, style: "width: 50%"  %>
  <table class="table table-sm bg-light">
    <% rows_and_columns = Service.rows_and_columns %>
    <% row_counter = 0 %>
    <% rows_and_columns[0].times do |row| %>
      <tr>
        <% index = row_counter %>
        <% rows_and_columns[1].times do |column| %>
          <% if services[index] %>
            <%= f.fields_for :scenario_services do |p| %>
              <td>
                  <%= p.hidden_field(:service_id, :value => services[index] .id ) %>
                  <%= label(:service_name, services[index].name, class: "nbc-font" ) %>
               </td>
              <td>
                <div>
                <%= p.number_field(:order, in: 1..20, style: "max-width: 40px" ) %>
                </div>
              </td>
            <% end %>
            <% index += rows_and_columns[0] %>
          <% end %>
        <% end %>
        <% row_counter += 1 %>
      </tr>
    <% end %>
  </table>
  <div class="actions" id="center" >
    <%= f.submit %>
    <button type="button" data-dismiss="modal">Close</button>
  </div>
<% end %>
