<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= t('.scenarios') %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <% @scenarios.each do |scenario| %>
              <a class=<%= "list-group-item list-group-item-action" %>  id=<%= "#{scenario.id}-list" %> data-toggle="list"
                 href=<%= "#list-#{scenario.id}" %> >
                <%= scenario.name %>
              </a>
            <% end %>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <% @scenarios.each do |scenario|  %>
              <div class=<%= "tab-pane fade" %>  id=<%= "list-#{scenario.id}" %> role="tabpanel" aria-labelledby=<%= "#{scenario.id}-list" %>>
                <table class="table table-sm bg-light">
                  <tbody class="nbc-font">
                    <tr>
                      <th><%=  t('.services') %></th>
                      <th><%=  t('.commands') %></th>
                    </tr>
                    <tr>
                      <td><%=  scenario.services_name %></td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%= "#modalBindServices#{scenario.id.to_s}" %>>
                          <%= t('.edit_bind_services') %>
                        </button>
                        <%= render 'bind_services', scenario: scenario, services: @services %>
                      </td>
                      <td><%= link_to t('.delete'), scenario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <!-- Modal -->
      <%= render 'bind_services', scenario: @scenario, services: @services %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBindServices">
        <%= t('.new_bind_services') %>
      </button>
      <%= link_to t('.back'), :back, class: "btn btn-light" %>
    </div>
  </div>
</div>
