<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= t('.scenarios') %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <% @scenarios.each_with_index do |scenario, index| %>
              <a class=<%= "list-group-item list-group-item-action #{ "active" if index==0 }" %>  id=<%= "#{scenario.id}-list" %> data-toggle="list"
                 href=<%= "#list-#{scenario.id}" %> >
                <%= scenario.name %>
              </a>
            <% end %>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <% @scenarios.each_with_index do |scenario, index|  %>
              <div class=<%= "tab-pane fade #{ "show active" if index == 0 }" %>  id=<%= "list-#{scenario.id}" %> role="tabpanel" aria-labelledby=<%= "#{scenario.id}-list" %>>
                <%=  scenario.services_name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <!-- Modal -->
      <div class="modal fade" id="modalBindServices" tabindex="-1" role="dialog" aria-labelledby="modalBindServicesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content card text-white mb-3 nbc">
             <div class="card-body">
               <%= render 'bind_services', services: @services %>
             </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBindServices">
        <%= t('.new_bind_services') %>
      </button>
      <%= link_to t('.back'), :back, class: "btn btn-light" %>
    </div>
  </div>
</div>
