<div class="col col-md-5">
  <h2 id="center" class="card-header"><%= t('.scenarios') %></h2>
  <div class="card text-white mb-3 nbc">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <% @scenarios.each do |scenario| %>
              <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls=<%= scenario.name %>> <%= scenario.name %></a>
            <% end %>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
            <% @scenarios.each do |scenario| %>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <!-- Modal -->
      <div class="modal fade" id="modalNewScenario" tabindex="-1" role="dialog" aria-labelledby="modalNewScenarioTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content nbc">
            <div class="modal-header">
              <%= render 'form_new', scenario: @scenario %>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalBindServices" tabindex="-1" role="dialog" aria-labelledby="modalBindServicesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content nbc">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= render 'bind_services', services: @services %>
          </div>
        </div>
      </div>
      <%= link_to t('.new_scenario'), new_scenario_path, class: "btn btn-light"%>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewScenario">
        Создать новый сценарий
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBindServices">
        Привязать сценарий с сервисами
      </button>
      <%= link_to t('.back'), :back, class: "btn btn-light" %>
    </div>
  </div>
</div>
