  <div class="col col-md-8">
    <h2 align=center class="card-header"><%= t('.header') %></h2>
    <table class="table table-sm nbc text-white">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>email</th>
          <th>sign_in_count</th>
          <th>last_sign_in_at</th>
          <th>last_sign_in_ip</th>
          <th>created_at</th>
          <th>ldap_login</th>
          <th>ldap_password</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td scope="row"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= user.last_sign_in_ip %></td>
            <td><%= user.created_at %></td>
            <% if user == current_user %>
              <td><%= user.ldap_login %></td>
              <td><%= user.ldap_password %></td>
              <td><%= link_to t('.edit'), edit_admin_user_path(user)%></td>
              <td><%= link_to t('.destroy'), admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td><%= "*******" %></td>
              <td><%= "*******" %></td>
              <td><%= link_to "----", '#' %></td>
              <td><%= link_to "----", '#' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('.back'), :back %>
  </div>
